# An introduction to Python

#### A short introduction to Jupyter notebook

Welcome to the notebook. Here you can write Python code and see the result of your code!
Below you can see an empty "block". Here you can write code. Once you have typed the code, you can simply select the block and press shift + enter. Then your code runs.
You can create this block of text that you are reading right now by pressing the dropdown menu just above (code, markdown, etc.). If you select "markdown" then everything in the block becomes text when you run the block. If you select "code" it will run as code.

Install packages via pip install nameofpackage in the environment

In [1]:
# Below is a simple calculation
2+2

4

In [2]:
# Comments are made by using "#" as the first element of a line

# What we write inside brackets are printed
print(2+2)

# We can also write text inside the brackets. Remember that text is written in ""
print("You look nice today!")

4
You look nice today!

# Data structures

## variables

In [3]:
#Variables
#assigned variables
a=5
b=2
c='Python is hard but fun'

In [4]:
print(a)

5

In [5]:
print(a*b)
print(a/b)

10
2.5

In [6]:
print(c)

Python is hard but fun

## Lists

In [7]:
numbers_in_list = [1,2,5,8,'Simon']

In [8]:
#remember it goes from 0,1,2,3 when navigating the list
numbers_in_list[4] #gets the fourth element

'Simon'

## Dictionaries

In [9]:
#with curly brackets and a key  value pair
people =  {'Rasmus': 31,
          'Anna': 31,
          'peter': 99}
print(people)

{'Rasmus': 31, 'Anna': 31, 'peter': 99}

In [10]:
#apply different methods to these variables using a "."
people.keys()

dict_keys(['Rasmus', 'Anna', 'peter'])

In [11]:
people.values()

dict_values([31, 31, 99])

In [12]:
# Example of a number (Integer)
print(2)

# Example of text (String)
print("Hello World")

# Example of a number as text (String)
print("2")

2
Hello World
2

# Packages

In [125]:
import numpy as np
import pandas as pd
#lot of functions comes built in with the packages

In [14]:
numbers_in_list=[1,5,6,7]
#numpy arrapy
numpy_array=np.array([1,5,6,7])

In [23]:
print(numbers_in_list*2)
print(numpy_array*4)

[1, 5, 6, 7, 1, 5, 6, 7]
[ 4 20 24 28]

# Computations

In [29]:
#Defining a variable with age of different people
employees_age=np.array([20,35,50,90,50 ])
#average employees age using np.mean function
print(np.mean(employees_age))
#min
print(np.min(employees_age))
#max
print(np.max(employees_age))
#median
print(np.median(employees_age))

49.0
20
90
50.0

In [35]:
#a list with strings 
colors = ["blue", "yellow", "green", "blue", "yellow"]

In [36]:
from collections import Counter # importing a function from numpy package
print(Counter(colors))

Counter({'blue': 2, 'yellow': 2, 'green': 1})

# Types

In [30]:
#check for errors and troubleshooting  
type(numpy_array)

type(numbers_in_list)

list

# Loops

In [40]:
#evaluate everything inside our dataset - what loops do
list = ["Python", "is", "a", "lot", "of", "fun"]

for i in list:
    print(i)

Python
is
a
lot
of
fun

In [48]:
#for loop and while loop
Larsens_list = ["Python", "is", "awesome", "for", "data science"]
print(Larsens_list[2])

awesome

In [57]:
#for elements in larsens list do something
for i in Larsens_list:
    print(i)

Python
is
awesome
for
data science

In [65]:
#multiplying every element in the list
for i in employees_age:
    print(i*2)

40
70
100
180
100

In [67]:
#inside the loop we test if something is true. It only prints if the condition is true
for i in employees_age:
    if i > 30:
        print(i*2)

70
100
180
100

In [68]:
for i in employees_age:
    if i > 30:
        print(i*2)
    else:
        print(i)

20
70
100
180
100

# Functions

In [73]:
def my_function(input):
    output=input+100
    return output

In [74]:
#function with input2
my_function(2)

102

In [77]:
for i in employees_age:
    print(my_function(i))

120
135
150
190
150

In [88]:
def function(x):
    print(np.sum(x)/len(x))

#what does it do? csums all values in x and len takes the number in the variable, 
#hence computes the average 
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [89]:
number_list=[1,3,6,7,8,9,15,16]

function(number_list)

8.125

# Pandas - data structure in python

In [122]:
import pandas as pd

In [98]:
sales_data = pd.read_excel("./data/superstore.xlsx") 
#a dot (.) for current directory

In [99]:
sales_data.head()

,Order ID,Customer Name,Category,Sub-Category,Product Name,Quantity,Sales,Profit,Discount,Segment,Country/Region,City,State,Ship Mode,Order Date,Ship Date
0,CA-2018-152156,Claire Gute,Furniture,Bookcases,Bush Somerset Collection Bookcase,2,261.9600,41.9136,0.00,Consumer,United States,Henderson,Kentucky,Second Class,2018-11-08,2018-11-11
1,CA-2018-152156,Claire Gute,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,731.9400,219.5820,0.00,Consumer,United States,Henderson,Kentucky,Second Class,2018-11-08,2018-11-11
2,CA-2018-138688,Darrin Van Huff,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,2,14.6200,6.8714,0.00,Corporate,United States,Los Angeles,California,Second Class,2018-06-12,2018-06-16
3,US-2017-108966,Sean O'Donnell,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,5,957.5775,-383.0310,0.45,Consumer,United States,Fort Lauderdale,Florida,Standard Class,2017-10-11,2017-10-18
4,US-2017-108966,Sean O'Donnell,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2,22.3680,2.5164,0.20,Consumer,United States,Fort Lauderdale,Florida,Standard Class,2017-10-11,2017-10-18

In [100]:
type(sales_data)

pandas.core.frame.DataFrame

In [106]:
pd.set_option('display.max_rows', 100)

In [104]:
#Average sales amount 
print("Avg sales is" ,np.mean(sales_data['Sales']), "USD")

Avg sales is 229.85800083049833 USD

In [105]:
Counter(sales_data['Category'])

Counter({'Furniture': 2121, 'Office Supplies': 6026, 'Technology': 1847})

In [108]:
for i in sales_data['Customer Name'].head():
    print(i)

Claire Gute
Claire Gute
Darrin Van Huff
Sean O'Donnell
Sean O'Donnell

# Exercise Pandas and numpy

In [110]:
#What was the profit of the purchase with the highest profit
# Hint: Search google for what features numpy / pandas have (max?)
print(np.max(sales_data["Profit"]))  #highest profit purchase = 8399

sales_data[sales_data['Profit']==sales_data['Profit'].max()]  # which order id had the highest profit

8399.976

,Order ID,Customer Name,Category,Sub-Category,Product Name,Quantity,Sales,Profit,Discount,Segment,Country/Region,City,State,Ship Mode,Order Date,Ship Date
6826,CA-2018-118689,Tamara Chand,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,5,17499.95,8399.976,0.0,Corporate,United States,Lafayette,Indiana,Standard Class,2018-10-02,2018-10-09

In [127]:
#How many invoice lines is there within each segment?
print(Counter(sales_data["Segment"]))

Counter({'Consumer': 5191, 'Corporate': 3020, 'Home Office': 1783})

In [128]:
#Calculate the overall profit ratio of the dataset (Profit ratio = Profit / Sales)
          
print(np.sum(sales_data['Profit'])/np.sum(sales_data['Sales']))

0.12467217240315603

In [132]:
#Calculate the combined profit ratio of the last 2 records of the dataset (Profit ratio = Profit / Sales)
         
print(np.sum(sales_data['Profit'])/np.sum(sales_data['Sales'].tail(2)))

1049.9964133304004

In [148]:
#Calculate the average sales of each sub-category (using groupby)
sales_data.groupby('Sub-Category')['Sales'].mean()

Sub-Category
Accessories     215.974604
Appliances      230.755710
Art              34.068834
Binders         133.560560
Bookcases       503.859633
Chairs          532.332420
Copiers        2198.941618
Envelopes        64.867724
Fasteners        13.936774
Furnishings      95.825668
Labels           34.303055
Machines       1645.553313
Paper            57.284092
Phones          371.211534
Storage         264.590553
Supplies        245.650200
Tables          648.794771
Name: Sales, dtype: float64

In [149]:
sales_data.groupby('Sub-Category').Sales.mean()

Sub-Category
Accessories     215.974604
Appliances      230.755710
Art              34.068834
Binders         133.560560
Bookcases       503.859633
Chairs          532.332420
Copiers        2198.941618
Envelopes        64.867724
Fasteners        13.936774
Furnishings      95.825668
Labels           34.303055
Machines       1645.553313
Paper            57.284092
Phones          371.211534
Storage         264.590553
Supplies        245.650200
Tables          648.794771
Name: Sales, dtype: float64

In [145]:
#All numeric variables
sales_data.groupby('Sub-Category').mean()

              Quantity        Sales      Profit  Discount
Sub-Category
Accessories   3.840000   215.974604   54.111788  0.078452
Appliances    3.710300   230.755710   38.922758  0.166524
Art           3.768844    34.068834    8.200737  0.074874
Binders       3.922521   133.560560   19.843574  0.372292
Bookcases     3.807018   503.859633  -15.230509  0.211140
Chairs        3.818476   532.332420   43.095894  0.170178
Copiers       3.441176  2198.941618  817.909190  0.161765
Envelopes     3.566929    64.867724   27.418019  0.080315
Fasteners     4.211982    13.936774    4.375660  0.082028
Furnishings   3.723093    95.825668   13.645918  0.138349
Labels        3.846154    34.303055   15.236962  0.068681
Machines      3.826087  1645.553313   29.432669  0.306087
Paper         3.779562    57.284092   24.856620  0.074891
Phones        3.699663   371.211534   50.073938  0.154556
Storage       3.732861   264.590553   25.152277  0.074704
Supplies      3.405263   245.650200   -6.258418  0.076842
Tables        3.890282   648.794771  -55.565771  0.261285

In [146]:
#write to new dataframe 
sales_data_group = sales_data.groupby('Sub-Category').Sales.mean()
print(sales_data_group)

Sub-Category
Accessories     215.974604
Appliances      230.755710
Art              34.068834
Binders         133.560560
Bookcases       503.859633
Chairs          532.332420
Copiers        2198.941618
Envelopes        64.867724
Fasteners        13.936774
Furnishings      95.825668
Labels           34.303055
Machines       1645.553313
Paper            57.284092
Phones          371.211534
Storage         264.590553
Supplies        245.650200
Tables          648.794771
Name: Sales, dtype: float64

# Sentiment

In [162]:
#Define a list of sentences - which modd is each sentence?
sentences = ["Poul is nice", "Poul is an idiot", "today was a good  day", "you are cool", "great tool"]

In [163]:
#import vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [164]:
SentimentIntensityAnalyzer().polarity_scores('Today seems to be a fantastic day')

{'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'compound': 0.5574}

In [165]:
SentimentIntensityAnalyzer().polarity_scores(sentences)

{'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'compound': 0.4404}

In [166]:
def sentiment(text_input):
    output = []
    analyzer = SentimentIntensityAnalyzer().polarity_scores
    for i in text_input:
        a = analyzer(i)['compound']
        output.append(a)
    return output

In [167]:
sentiment(sentences)

[0.4215, -0.5106, 0.4404, 0.3182, 0.6249]