In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({
  '2014': [1371819, 41403351],
    '2015': [1500923, 40912316],
    '2016': [1769950, 30586265]}, 
    index=['GOOG', 'APPL'])
df

          2014      2015      2016
GOOG   1371819   1500923   1769950
APPL  41403351  40912316  30586265

In [11]:
df2 = df.pct_change(axis='columns')
df2.head()

      2014      2015      2016
GOOG   NaN  0.094112  0.179241
APPL   NaN -0.011860 -0.252395